/* {'background': 'transparent', 'plot_background': 'transparent', 'foreground': '#53E89B', 'foreground_strong': '#53A0E8', 'foreground_subtle': 'transparent', 'opacity': '.2', 'opacity_hover': '.9', 'transition': '400ms ease-in', 'colors': ('#0000ff', '#ff0000'), 'value_font_size': 200}*/

text {
    fill: green;
    font-family: monospace;
}


/* .legends .legend text {
    font-size: {
        {
            font_sizes.legend
        }
    }
    ;
} */

.axis {
    stroke: #666;
}


/* .axis text {
    font-size: {
        {
            font_sizes.label
        }
    }
    ;
    font-family: sans;
    stroke: none;
} */

.axis.y text {
    text-anchor: end;
}


/* 
#tooltip text {
    font-size: {
        {
            font_sizes.tooltip
        }
    }
    ;
} */

.dot {
    fill: yellow;
}

.color-0 {
    stroke: #0400ff;
    fill: #0400ff;
}

.color-1 {
    stroke: #ffee00;
    fill: #ffee00;
}

.color-2 {
    stroke: #66bb44;
    fill: #66bb44;
}

.color-3 {
    stroke: #88bbdd;
    fill: #88bbdd;
}

.color-4 {
    stroke: #0000ff;
    fill: #0000ff;
}