{% extends base %}

<!-- goes in body -->
{% block contents %}
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="btn btn-secondary btn-sm" href="#">Cartographie</a>
        <a class="btn btn-secondary btn-sm" href="#">Clé de lecture</a>
        <a class="btn btn-secondary btn-sm" href="#">Nos accompagnements</a>
    </div>
</nav>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            {{ embed(roots.sidebar)}}
        </div>
        <div class="col-sm-8 ml-auto">
            <div class="row">
                {{ embed(roots.top)}}
            </div>
            <div class="row">
                {{ embed(roots.main)}}
            </div>
        </div>
    </div>
</div>


{% endblock %}